body {
  background-image: url(https://img.freepik.com/premium-photo/a-blue-sky-white-clouds-on-nature-summer-weather-background_261642-1684.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.box {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  padding: 20px;
}
.box h2 {
  margin: 20px 0px;
}

button {
  margin: 10px;
  
}
button:focus{border:2px solid darkblue; padding:20px; }